<div class="row">
    <div class="col-xs-5">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a
            class="list-group-item"
            class="list-group-item clearfix"
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients">
                <div class="col-xs-10">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ ingredient.name }}</h4>
                        <p class="list-group-item-text">{{ ingredient.amount }} {{ ingredient.unitsOf }}</p>
                    </div>
                </div>
            </a>
        </ul>
    </div>
</div>